<h1><%= @employee.first_name %>    <%= @employee.last_name %></h1>
<%= image_tag @employee.img_url%>
<%= @employee.alias %>
<%= @employee.title %>
<%= @employee.office %>

<%= link_to "edit", edit_employee_path(@employee)%>

